[2019-01-03 19:38] fabio-looker opened #1 "Add NPM shrinkwrap.json to package"
https://docs.npmjs.com/files/shrinkwrap.json.html

[2019-01-03 19:45] #1 closed, assigned to nobody

[2019-01-29 18:45] fabio-looker opened #2 "Relax T8 to allow different separator (b/c of MySQL comment limitations)"
Comments in MySQL have to have a space between the `--` and the remainder of the line, so T8 (which requires `---` to separate the PKs from the rest of the columns) may need to allow some alternatives

https://dev.mysql.com/doc/refman/8.0/en/comments.html

[2019-02-14 16:25] fabio-looker opened #5 "Short circuit rule if project-level exemption"
If an exemption exists at the entire project level, we could check for that at the beginning of our rules files and return early, thus eliminating some looping and improving performance for those cases

[2019-04-23 22:24] fabio-looker opened #6 "Update LAMS to recognize the new "field-type" ${} references"
Looker 6.8 added a new field reference syntax like `${field::type}`

https://docs.looker.com/data-modeling/learning-lookml/sql-and-referring-to-lookml?version=6.8#lookml_field_type_references

Several rules, for example F1 and E1, depend on pulling references out of SQL strings, and will need to be reviewed.

[2019-04-24 15:49] fabio-looker commented on #5
Implemented in 05c5a78be70ebe05212040d11dbf1df49b1fdff0

[2019-04-24 15:49] #5 closed

[2019-05-08 16:57] fabio-looker opened #7 "New Rule? Equality constraint type checking"
Possible enhancement...

As I recently discovered, for strictly typed dialects like BigQuery, updating the type of a column/field can be very difficult since you don't know where that field is referenced in join constraints.

So for example, the following could throw an error:
[code]

As stated, this would the first linter-enabled rule that is not strictly locally scoped. (Contrast with PK rules w

[2019-05-14 17:08] fabio-looker opened #8 "New Rule? PK information also in sql of dimension"
If a PK dimension, in addition to following the naming convention, were to use the following sql comment:

[code]

Then dev users looking to troubleshoot a query could quick evaluate the cardinality of its joins by looking at the SQL alone.

Not sure on this one, it may be a bit of a stretch in terms of which audience will see which information, but I found myself trying to debug a difference in a

[2019-08-13 23:35] bmschow opened #9 "Add support for folders"
Looker 6.16 now allows a folder structure to be present.  LAMS currently does not see files that are in subfolders.

[2019-08-13 23:44] bmschow opened #10 "Allow forward-slash in branch names"
LAMS fails on branches with forward slashes in the name.

[2019-08-15 05:03] bmschow commented on #9
made pull request #11

[2019-08-15 06:20] fabio-looker commented on #10
@josephaxisa this sounds like it might be an issue with our docker setup? Can you maybe take a look at this one?

[2019-08-15 16:44] fabio-looker commented on #9
I added a test case for this in node-lookml-parser/subfolders

https://github.com/fabio-looker/node-lookml-parser/tree/subfolders

Adding the `matchBase: true` option to the globOptions there does get the files read, just need to make a few additional tweaks so that the includes are followed as well, and so the output reflects the full path, not just the filename

![image](https://user-images.gith

[2019-08-15 23:28] fabio-looker commented on #9
I added the functionality to the underlying LookML parser library. Still need to update LAMS' dependencies to use the latest version

[2019-08-21 00:27] fabio-looker opened #12 "Separate index.js into index.js and cli.js for better testability"
index.js to export a function that CLI calls, then tests can more easily test the index function

[2019-08-21 02:25] fabio-looker commented on #9
@bmschow I just updated LAMS to use the 6.0 release of node-lookml-parser. I think this should make all the subdirectory stuff work... would you give it a try and let me know what you're seeing?

[2019-08-21 17:36] bmschow commented on #9
@fabio-looker sure, I'll give it a test run today or tomorrow and let you know

[2019-08-21 22:18] bmschow commented on #9
@fabio-looker I just gave it a shot on docker.  It still doesn't seem like it's working for folders.

[2019-08-21 23:13] fabio-looker commented on #9
Darn. Ok, looks like I may have to work on https://github.com/looker-open-source/look-at-me-sideways/issues/12 first to have a more representative test case from which to work.

[2019-09-06 16:37] davidcsi opened #13 "Can't execute lams"
Hello,

I created a Dockerfile with the following:

[code]

Then i run the docker and:

[code]

All looks ok, but then:
[code]

But it's not doing anything...

Help is greatly appreciated!

[2019-09-06 17:16] fabio-looker commented on #13
Since I see the command is like `node <dir>` rather than using `npm run`, I suspect this is related from the change of the command-line entry point from `index.js` to `cli.js`. I'll take a look at the docker config to see where this needs to be updated

 cc: @jax

[2019-09-06 19:43] davidcsi commented on #13
Thanks for replying!

Actually it's like that because the README states:

[code]

[2019-09-06 19:56] fabio-looker commented on #13
I noticed that and updated the readme to refer to `cli.js`. Does using the new js path make it work for you?

[2019-09-06 21:14] davidcsi commented on #13
Hello,

Yes! It's working now!
Many thanks!

David

[2019-09-06 21:14] #13 closed

[2019-09-09 19:07] fabio-looker opened #14 "Fix regression: project.manifest.{project_name,custom_rules}"
Upgrading lookml-parser dependency broke things that refer to `project.file.manifest`, these should now refer to `project.manifest`

![image](https://user-images.githubusercontent.com/23034640/64559100-7eff2300-d313-11e9-89ad-1fb97119733a.png)

[2019-09-10 20:52] #14 closed

[2019-10-17 20:34] fabio-looker commented on #9
HI @bmschow - Are you still running into issues? We now have LAMS on npm, so you can use that to help make sure you're on the latest version

[2019-10-21 18:29] bmschow commented on #9
Hey, @fabio-looker, I've been really busy lately.  We're still using my forked version and it's working fine, but once I have more time I'll test out the latest version

[2019-10-21 19:10] fabio-looker commented on #9
No worries. As of yet, I've not heard any other users raise this issue. So, don't pressure yourself to repro this, I'll just close it out for now, and if you ever experience it again, feel free to reopen.

[2019-10-21 19:10] #9 closed

[2019-11-05 21:47] fabio-looker opened #15 "--reporting=save-... not saving?"
Was working with @jamesastone at JOIN and saw that `save` was not working for him. Need to investigate

[2019-11-05 22:16] fabio-looker opened #16 "Broken md links: models in subdirectories"
In model-level rules, the path is currently constructed as `...files/${modl_name}.model.lkml` . Need to switch to using full file path for subdirectory support

[2019-11-18 09:02] BrunaBoaventura opened #22 "Issue with custom rule JSON path"
For the last few days I have been applying some custom rules to my LookML code and I've come across an issue.

When trying to use the match $.model.*.view.*[dimension,measure].*, it returns an error saying "Error in custom rule definition", which doesn't happen when taking the last section out, or referencing to just either a dimension or a measure. I could split the rules into the same one separa

[2019-11-18 17:41] fabio-looker commented on #22
Hi Bruna! I'll give it a test today and see what I can find.

[2019-11-18 20:17] fabio-looker commented on #22
Hi @BrunaBoaventura

The JSONPath issue is due to my misunderstanding of the JSONpath docs. I have updated LAMS docs with the correct usage example (note the added quotes)
`$.model.*.view.*['dimension','measure'].*`

Also, I added a test case here: https://github.com/looker-open-source/look-at-me-sideways/tree/master/__tests__/dummy-projects/06-custom-rule-fields

As to why you are not seeing any

[2019-11-18 20:17] #22 closed

[2019-11-19 13:26] BrunaBoaventura commented on #22
Thank you so much for the insights, Fabio. I tried again and now I'm not
getting the expression error, but using the example you provided (knowing
that my view has undefined types and defined types) it should return
errors, but it doesn't. I'm not quite sure what's the issue, so that's why
I haven't created another issue on github.

On Mon, Nov 18, 2019 at 9:17 PM fabio-looker <notifications@githu

[2019-11-19 16:43] fabio-looker commented on #22
@BrunaBoaventura - well if you can, please do share your issue. I would like to see what people are using the custom rules to try to do. Have you successfully made any custom rules work? If not, there are quite a few sample projects in that /__tests__/dummy-projects directory that should have some starter examples as well

[2019-11-25 09:02] BrunaBoaventura opened #23 "Custom rule for type check doesn't work"
I currently have 2 custom rules in my manifest file. One works which is the production connection check:
[code]
But the second one doesn't work. It is supposed to check if the type is available, but I tried writing it as the example here:
[code]
But this doesn't work. To make sure that the lookml code isn't the issue, I tried changing the rule slightly since I'm sure I have dimensions and measures

[2019-11-25 19:53] fabio-looker commented on #23
(By coincidence?) This is exactly the rule I used in the most recent test case:

![image](https://user-images.githubusercontent.com/23034640/69567984-4bca4880-0f80-11ea-8666-c6916d493623.png)

When I run that test case, I get the following:
![image](https://user-images.githubusercontent.com/23034640/69572694-5093fa00-0f8a-11ea-97e0-9cd1ae6e6ac6.png)

Just to be sure this is not a broader issue tha

[2019-11-27 09:28] BrunaBoaventura commented on #23
Yes, this is actually working now. The issues and paths are working. Also I fixed the regex issue and now everything is flagging correctly.
I have another question though and will open a new issue.
Thank you!

[2019-11-27 09:28] #23 closed

[2019-11-27 09:49] BrunaBoaventura opened #24 "How can you refer to two different paths in an expression?"
I am writing a few custom rules that fit our requirements and one of them needs to refer to two paths. I want to check if the type is yesno and if it is, then check if the dimension name ends with a _flag.
I tried changing the path inside the expression but that doesn't work either. Any tips on how to write this?

[2019-11-27 17:57] fabio-looker commented on #24
Hmm, LAMS is using an open-source [JSONpath](https://www.npmjs.com/package/jsonpath) library.

It does let you define conditions, like so...

[code]

However, the expressions you can use in these conditions are pretty limited, for security, so I don't think you can do pattern matching, like "ends in _flag"

However, you could do that inside of your expression, passing any field that does not end i

[2019-11-28 14:35] PieterjanCriel opened #25 "Share GitLab CI configuration"
Sharing my Gitlab CI setup (which was a quick project);
Created a simple Dockerfile to wrap look-at-me-sideways

[code]
This image is stored in the registry; (registry.example.com/look-at-me-sideways-bot)

Created a `gitlab-ci.yml` file in the LookML repo

[code]

On every commit, lams will run an saves the `issues.md` in the Gitlab CI artifacts.

[2019-11-29 01:12] fabio-looker commented on #25
Thanks so much for contributing this :) I'm out for Thanksgiving but will get it merged in next week!

[2019-12-10 23:27] #15 closed

[2019-12-10 23:38] #24 closed

[2019-12-16 11:30] ms32035 opened #30 "Wrong implementation of K1 rule"
You're using naming convention to check both K1 and K2 at the same time, while K1 should be checked basing on if there's a dimension that has a primary key attribute set to yes

[2019-12-16 16:30] fabio-looker commented on #30
Hi!

This is by design. If you're interested in checking for the existence of `primary_key: yes`, I could add an example of doing this via custom rules.

However, these are the reasons I didn't do so in the default rules:
- functionally, `primary_key: yes` just enables symmetric aggregates, which I usually suggest avoiding if possible
- when there is more than one primary key column, the `pk{n}_`

[2019-12-16 16:30] #30 closed

[2019-12-18 14:35] adriantoman opened #31 "Question about rule F3"
Hi

I have a question about the style rule F3. Is there any explanation of why this rule is valid? I have checked it in the latest version of Looker and it doesn't look like that looker is using COUNT(*) syntax anymore.

Is it possible that this rule is obsolete? or it is connected to specific database?

Thank you
Adrian

[2019-12-18 20:52] fabio-looker commented on #31
Hi Adrian! You're the first person to bring it to my attention, but it looks like you may be right. I'll research this and confirm in more detail

[2019-12-18 20:55] fabio-looker commented on #31
Actually, I have to immediately take it back. The model that I first thought to test on had some custom written SQL for all of its counts.

Upon looking at a plain `type: count` field, on a Redshift connection, on Looker 6.24, I am still seeing `COUNT(*)`.

Is it possible that you are looking at the count of a many-to-one joined table, where Looker has applied a distinct on the primary key?

[2020-01-06 22:39] fabio-looker commented on #31
Closing this out for now due to lack of response. Let me know if you still need any help!

[2020-01-06 22:39] #31 closed

[2020-01-06 23:04] fabio-looker commented on #25
Sorry it took me a bit longer than expected! This is now available here and linked to from the main readme: https://looker-open-source.github.io/look-at-me-sideways/gitlab-ci

Thanks again!!

[2020-01-06 23:04] #25 closed

[2020-01-30 23:25] MartinGuindon opened #32 "False positive on F1 rule with a derived table"
LAMS is reporting a false positive on the F1 rule for a derived table using parameters.

Detailed error: `linkback references another view, if linkback_type, via {% if linkback_type._parameter_value == "Client" %}`

The full dimension code is:
[code]

[2020-02-04 20:54] clpatterson opened #33 "LAMS not currently compatible with enterprise github accounts hosted on-prem?"
I'm looking to implement LAMS for a large logistics firm with an enterprise Github account hosted on-prem. Currently the account/repo environment variables passed to the LAMS docker container during build assume the user's github account is hosted by github (https://github.com/<ACCOUNT_NAME>/<REPO_NAME>/).  How can I help make it possible to integrate LAMS with github accounts not hosted by github

[2020-02-05 03:33] fabio-looker commented on #32
FYI, I started working on this for about 30 minutes, but I'm overlooking something really obvious and am failing to correctly set up a failing test so far. Putting the link here for reference, but I'll get back to this later:
https://github.com/looker-open-source/look-at-me-sideways/tree/issue-32/__tests__/dummy-projects/07-issue-32

[2020-02-05 03:37] fabio-looker commented on #33
Hi!

If you wanted to submit a PR to the project, I think it would be better to parameterize the entire domain name, rather than assuming all enterprises will use a `github` subdomain, or even a .com TLD for that matter.

However, the docker config is really an example, so if you wanted, you could very easily customize it for your customer without necessarily having to submit changes to our repo.

[2020-02-05 15:15] clpatterson commented on #33
Fabio, thanx for the quick response. I think parameterizing the entire domain name makes a lot of sense. I'll make the change and submit a pr.

[2020-03-31 21:13] #33 closed

[2020-03-31 21:16] fabio-looker opened #34 "Investigate CI failure"
Github Actions is failing with the following error message:

[code]

This is perhaps a new behavior in npm/github actions, but is certainly triggered by my rather creati ve setup npm-shrinkwrap setup...

[2020-06-23 08:36] villoro opened #35 "Disable date in issues.md"
We use LAMS with at some repositories where we use pull requests (PR). Each time we close a PR we get merge conflicts with the existing ones caused by the file `issues.md`.

The problem is that each branch is writting the line with the date and that causes the conflicts. The line is:
[code]

It is possible to configure it so that LAMS does not write the date on the `issues.md`? I think that the be

[2020-06-23 17:53] fabio-looker commented on #35
Hi! There is no such option at the moment, but it seems like a very reasonable option to add (even if in some ideal world it would be even better to deliver messages via some other channel and not the repo itself)

If you submit a PR, I would merge it, if not I can probably add this option at some point in the next few weeks

The following place would need a conditional: https://github.com/looker-

[2020-06-26 00:15] fabio-looker commented on #35
Ok, in theory this should be ready. Lemme know if you run into any issues.

Also, if you want, feel free to message me about how you are using LAMS and how you like the rules, I am always curious to know! fabio@looker.com

[2020-06-26 00:15] #35 closed

[2020-06-26 06:46] villoro commented on #35
It works perfectly 😁

Let me just think a little bit about it and I'll write you.

[2020-08-07 03:59] alphacr opened #37 "Lams could not be used, SyntaxError: Unexpected token"
Hi, is the library failing for anyone else?

This is my first time using it and I'm already running into problems when I'm trying to run it.

Commands i run:

error message on lams command:

[code]

Seems that the latest deployment itself has a failing CI build, could that be reason why? https://github.com/looker-open-source/look-at-me-sideways/commit/77b2ba02fdaf8f2dd96479b59010129f25890dd4

[2020-08-10 18:24] fabio-looker commented on #37
Hey! It sounds like your system probably has an older version of node installed. I would recommend probably installing Node 10 or 12, though LAMS will probably work with 8 as well. If that doesn't fix it for you, feel free to re-open

[2020-08-10 18:24] #37 closed

[2020-08-20 01:59] joshuasimon-taulia opened #38 "Rule F3 and drill_fields"
Do i still need to specify a filter in the case of something like
[code]

[2020-08-20 06:34] fabio-looker commented on #38
Yes, in fact this case is pretty much the explicit reason that this rule exists. The thing that the filter fixes is so unintuitive that it may be months before you eventually encounter the logical error, and the rule helps prevent it.

The rationale that I wrote under the rule tries to explain it, and I've added some additional clarification here:

By default Looker will implement any non-filtered

[2020-08-20 06:34] #38 closed

[2020-08-21 03:45] joshuasimon-taulia opened #39 "Should this break rule F1?"
We have a view from a derived table
[code]
 which we are using to dynamically populate currency types and symbols in another view(s)
[code]
would this quality as a `tightly coupled view` per [F1](https://looker-open-source.github.io/look-at-me-sideways/rules.html#f1)? is there a better way to do this? thanks for the clarification on the last issue btw.

[2020-08-21 04:05] fabio-looker commented on #39
Hi @joshuasimon-taulia , glad to help!

Yes, I would definitely describe these views as tightly coupled, because you would not expect the payment_ledger to work without the currency selector, and would always require them to be used together in an explore. Unfortunately, this is just a judgement call, not something LAMS could infer from the code, so an exemption would be good here.

[2020-08-21 04:05] #39 closed

[2020-08-21 04:07] fabio-looker commented on #39
Also, as an aside, if you are not _intending_ to reuse the currency_selector view with multiple fact views, you can just put the currency selector parameter directly inside of the payment ledger, and use the `suggest_explore` parameter to simply pull the suggestions from another explore, which could be a more intuitive setup overall

[2020-08-21 04:32] joshuasimon-taulia commented on #39
Looks like our looker project has been designed to use `sql: CASE WHEN {% parameter currency_selector.currency_selector %} =` in multiple views to keep things DRY. Is there any workaround I can do to get these to pass? If not I'll just disable F1 in our manifest.

[2020-08-25 22:50] mprogano opened #40 "Support for CircleCI"
We just open sources our CircleCI build, while I'm not an engineer it might be worth someone who is adding it into the mix here.
https://github.com/renewdotcom/renew-looker-template/tree/master/.circleci

[2020-08-27 16:27] fabio-looker commented on #40
Hi @mprogano , this is an awesome contribution, thanks! (I'll probably get around to incorporating this next week)

[2020-08-27 16:28] mprogano commented on #40
amazing!

[2020-10-12 10:56] romitjain opened #41 "Output errors to a file & provide a custom manifest.lkml"
Hi Team,
Thanks for creating LAMS, it's a wonderful tool that we are planning to use. I had 2 suggestions:
1. Can we output the errors to a file? I know we can use `--output-to-cli` but that does not seem to output all the error, instead it caps out at around 300 errors and displays `xx` more errors at the end. Our use case is that we want to display all the errors at pipeline failures.
2.  Can we

[2020-10-12 14:34] fabio-looker commented on #41
1. The limit is unintentional and is seems to be the result of the internal logic of node's `console.log` for large arrays. It should be pretty easy to update this to a loop over the array around [here](https://github.com/looker-open-source/look-at-me-sideways/blob/b867c24eb499e50ff17684fa1ce08091c7ab9d96/index.js#L177). I'd probably add an argument value, like `ndjson` to the `output-to-cli` para

[2020-10-12 14:44] romitjain commented on #41
@fabio-looker Thanks for the quick reply :)
Re: 2, we can pass it as an argument, something like: `--manifest <loc-to-manifest>`

[2020-11-18 19:55] ErikKBethke opened #42 "GitHub Action Update"
Hello,

As of 11/16/2020 GitHub disabled the use of set-env commands ([link](https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/)). This causes LAMS set up through GitHub actions to have issues running properly.

Documentation for LAMS GitHub Actions [here](https://github.com/looker-open-source/look-at-me-sideways/blob/master/docs/github-action.md)

T

[2020-11-18 22:14] fabio-looker commented on #42
Hi @ErikKBethke - thanks for the detailed issue report. Since this is just a change to documentation, I was able to make it without much fuss! Thanks again :)

[2020-11-18 22:14] #42 closed

[2020-11-19 23:24] mdmoniger commented on #25
Could you help me understand this? I think I'm missing something. I've added the above files to my gitlab repo, but LAMS still isn't working. What is the registry? I've tried changing that to the URL of the gitlab repo, but that doesn't work.

[2020-11-20 16:52] mdmoniger commented on #25
@fabio-looker @PieterjanCriel Could you please help me out with implementing this? I've added the Dockerfile to the registry (my public Docker Hub), created the .yml file in my LookML repo, changed the URL to that of my Docker Hub repo, and populated the LAMS reporting arguments. But when I make a commit via gitlab or Looker, nothing happens. What am I missing? Thanks!

[2020-11-20 20:49] fabio-looker commented on #25
Unfortunately, I have never used GitLab CI and won't be of too much help here. Perhaps GitLab's support might be able to quickly identify why nothing seems to be running upon commit.

[2020-11-21 17:43] PieterjanCriel commented on #25
Hi @mdmoniger does this stage (👀 Look at me sideways) appear in the gitlab-ci pipeline (assuming that a commit triggers a pipeline)? If it does not appear there than the gitlab-ci file is not valid (you should have got a warning if so).

[2020-11-23 16:35] mdmoniger commented on #25
@PieterjanCriel I do see it in the pipeline. I think I may be hosting it incorrectly or referencing the registry incorrectly.
I have these lines in the .yml file:
[code]
And here is the error I'm getting:
![Screen Shot 2020-11-23 at 9 32 43 AM](https://user-images.githubusercontent.com/34489998/99988836-37758300-2d6f-11eb-99f2-8b5cbecc901e.png)

[2020-12-08 06:15] jmak123 commented on #30
@fabio-looker Can you give an example of how to check existence of primary_key?

[2020-12-09 13:06] arthurbellis opened #43 "Error incorrectly fires if multiple CTEs use --- separator"
Thanks @fabio-looker for LAMS, my team at mercari.com has found it really useful to help us write maintainable SQL and LookML.

Ran into an interesting case that my team couldn't figure out until we debugged LAMS. :-)

We expected this to pass the linter:

[code]

but got an error saying that the second CTE had mismatching primary key field counts:

It turned out this works if we use trailing comm

[2020-12-09 15:10] fabio-looker commented on #43
Thank you so much! I'll review this later today

[2020-12-09 15:13] fabio-looker opened #45 "Provide object iteration functions in Liyad"
Add `Object_values`, Object_keys` and `Object_entries` to Liyad to make use cases like https://github.com/looker-open-source/look-at-me-sideways/issues/30 more straightforward

[2020-12-09 15:14] fabio-looker commented on #30
Hi @jmak123 - to make this kind of rule easier to implement in the expression-based custom rule language, I am going to add a few helper functions for looping through objects - https://github.com/looker-open-source/look-at-me-sideways/issues/45

My hope is to get these added this week

[2020-12-09 20:57] #43 closed

[2020-12-09 20:57] fabio-looker commented on #43
Should be fixed in 1.4.2 now available on NPM

[2020-12-09 21:08] fabio-looker commented on #40
Sorry for the overdue update - I've added a link to your template into our README dosc. Thanks again!! :)

[2020-12-09 21:08] #40 closed

[2020-12-10 07:14] jmak123 commented on #30
@fabio-looker Thank you! Looking forward to it.

[2020-12-10 07:38] arthurbellis commented on #43
Thanks @fabio-looker for the super-quick merge. ❤️

[2020-12-10 16:37] samadhusain opened #46 "extended views treated as separate views"
extended views are currently treated as separate views even when they are inheriting the underlying lookml code from the base view... i.e. if the base view has a description defined, the extended view doesn't require it and the explore will surface the description but lams will still throw an error.

[2020-12-10 17:28] fabio-looker commented on #46
Unfortunately lack of extension/refinement support is a current limitation, as noted in the readme:

That said, it is a feature I hope to address in the not too distant future, so I'll keep this issue around to log the feature request.

[2020-12-10 21:01] fabio-looker commented on #41
@romitjain - For concern #1, I added a feature in 1.5 where you can pass a numerical argument to `output-to-cli` that should override the default length for array output.

[2020-12-11 03:58] romitjain commented on #41
Thanks @fabio-looker, that helps! :)

[2020-12-14 19:32] fabio-looker commented on #45
apparently I had already implemented this. here's a test that uses it - https://github.com/looker-open-source/look-at-me-sideways/blob/master/__tests__/dummy-projects/08-object-iteration-rules/manifest.lkml

[2020-12-14 19:32] #45 closed

[2020-12-14 19:33] fabio-looker commented on #30
Hi @jmak123 - I sat down to do this today, and realized I had already done it long ago... oops! So I went ahead and made the example you requested as a testcase:

https://github.com/looker-open-source/look-at-me-sideways/blob/master/__tests__/dummy-projects/08-object-iteration-rules/manifest.lkml

[2020-12-16 07:30] jmak123 commented on #30
Thanks so much @fabio-looker !
One thing though, the custom rule that iterates over dimensions seems to have problems outputting error to CLI.
I get
[code]

[2020-12-29 22:16] senicholson opened #47 "False positive(s) for rule E2 when constraining a primary key on a single-quoted string."
LAMS is reporting false positive(s) for PKs missing in a SQL join statement where most PKs are used in equality constraints with matching PKs and one PK is constrained against a string surrounded in single quotes.

Sample failing input:
[code]

Sample LAMS response:
[code]

Sample failing input 2:
[code]

Sample LAMS response 2:
[code]

[2020-12-30 16:17] fabio-looker commented on #47
My regex was missing a quote... should be fixed now in v1.5.1. Thanks for the bug report!

https://github.com/looker-open-source/look-at-me-sideways/commit/e8c22f4b301c4811fadb362498f5d646da49143b

[2020-12-30 16:17] #47 closed

[2021-04-05 13:16] sincraianul opened #48 "native Looker validator complains about manifest.lkml"
Looker doesn't seem to like the `manifest.lkml` file :(

![Screenshot 2021-04-05 at 16 11 19](https://user-images.githubusercontent.com/1500799/113577201-91ddf480-9629-11eb-8618-73b3db26dcf7.png)

[code]

Is there any way around this?

[2021-04-05 14:25] sincraianul commented on #48
If anybody else faces this issue. my solution was to rename the file in the repo to something like `manifest._lkml` so that the validator ignores it. Then during the CI workflow, I rename it back to `manifest.lkml`. 😄

[2021-04-05 14:25] #48 closed

[2021-04-12 05:36] fabio-looker commented on #48
Hi @sincraianul - sorry, I was OOO last week!

Just FYI, the intended way to do this is that all declarations intended for LAMS are hidden behind a special #LAMS comment

So you would have a `manifest.lkml` file like:

[code]

[2021-04-21 00:02] arthurbellis commented on #46
I submitted a pull request related to this here: https://github.com/looker-open-source/look-at-me-sideways/pull/49

But I realize now that this will likely increase false positives for the reasons @samadhusain defined. I'm happy to help a bit on this @fabio-looker assuming you don't have anything in the works.

[2021-04-21 15:43] fabio-looker commented on #46
Hi @arthurbellis

Actually my plan to be able to handle this in a more general "air tight" way would be to actually make a change in the parser library. Specifically, after the actual parsing, the library also assembles models, approximately here: https://github.com/fabio-looker/node-lookml-parser/blob/master/lib/parse-files/index.js#L53

So my thinking is that under the "files" part of the parser

[2021-04-22 04:27] arthurbellis commented on #46
Nice, that makes sense to handle more in the parser.

At the risk of making this more complicated: we're refining and extending views that are defined in imported projects, so even parsing and resolving files in a single repo wouldn't catch everything. For some things, we could traverse the model via the API and flag things like fields missing descriptions -- that should handle the imported projec

[2021-04-22 15:47] fabio-looker commented on #46
The LookML parser supports folder based includes already, so I think the path of least resistance for project imports is outside of the parser & LAMS, and in your larger CI script. Baically, invoke the parser from the CLI once on just the manifest file using the JSON output option, pass that to a CLI JSON tool to pick out any commit SHAs or what have you, use git to sync those repos/shas/branches

[2021-05-25 15:24] tstodden commented on #32
👋🏼 I'm experiencing this false positive as well when I use the same `parameter_name._parameter_value` syntax in views. Upon initial investigation it seemed to be specific to `dimension` and not `dimension_group`.

[2021-05-25 15:45] fabio-looker commented on #32
Last time I looked at this, I wasn't able to correctly set up a failing test. This time I've taken a look at the F1 code and have an idea where the bug may be.. I won't be able to work on code changes until likely next week, so I'm commenting my findings for now:

The code that should handle ignoring `_parameter_value` is here: https://github.com/looker-open-source/look-at-me-sideways/blob/master/

[2021-05-25 15:48] fabio-looker commented on #32
Btw, @tstodden - In the short-term, if you're not yet adding an exemption to avoid this, I would recommend that as a temporary workaround. Thanks for the additional bug report!

[2021-11-10 22:26] ajbosco commented on #30
@fabio-looker We're having an issue where this fails if there is a view (say an `extends`) with no dimensions. Is there a way to handle that in the current implementation?

[2021-11-11 07:35] fabio-looker commented on #30
The LookML parser that LAMS uses does not currently resolve extensions/refinements before LAMS checks its rules, so in general anything that is done via extends is not recognized correctly. As of right now, using an exemption is the only solution. I will try to look for opportunities to work on extensions support in the parser in the future, as this will solve not only this, but a broad set of iss

[2021-11-11 12:40] ajbosco commented on #30
Thanks that totally makes sense about extensions but what I'm trying to do is just get a rule that can iterate over Dimensions and won't throw a build error if none are present in a view.

[2021-11-12 22:18] ajbosco opened #50 "Exemption for custom rules"
Is it possible to set granular exemptions for custom rules? I tried something like this, but it didn't seem to work:

[code]

[2021-11-15 06:18] fabio-looker commented on #50
It should be... I'll double check this week

[2021-11-23 19:30] fabio-looker commented on #50
Hi @ajbosco  - I tested this late last week, and you were right, there was not yet any support for exemption (granular or global) of custom rules.

I have added the ability to support granular exemptions in the `exempt-custom-rules` branch.

You can see a test for the functionality here: https://github.com/looker-open-source/look-at-me-sideways/tree/exempt-custom-rules/__tests__/dummy-projects/09-

[2021-11-23 22:56] fabio-looker commented on #30
Hi @ajbosco - I missed this reply earlier, sorry about that. You can always put in a conditional to guard against empty objects. I made an example here:

https://github.com/looker-open-source/look-at-me-sideways/blob/shortcircuit-example/__tests__/dummy-projects/10-shortcircuit-custom-rule/manifest.lkml

[2021-11-24 18:16] ajbosco commented on #50
@fabio-looker Awesome. Looks good to me!

[2021-11-24 19:28] fabio-looker commented on #50
Thanks! The new feature is in version 1.6+ on npm

[2021-11-24 19:28] #50 closed

[2022-01-06 12:40] Priyankavl opened #55 "Rule Exceptions Syntax not working"
I tried the global rule exception syntax in manifest file, But I still get errors related to those rules. Am I missing anything?

Tried below syntaxes:
1)
[code]
2)
[code]
Please help me implement these exemptions.

I am getting the below error

error: {
      toString: [Function: toString],
      message: 'Expected "#", "expr", "html", "sql", "}", [ \\t\\n\\r], or [\\-+_a-zA-Z0-9.] but "," found.

[2022-01-10 14:45] marcelolx opened #56 "Add glob `ignore` argument, and default to include `node_modules` folder"
We have added LAMS to our project and have found that some reported issues were due to views that don't even exist in our codebase, digging into it I discovered that those views come from the [lookml-parser](https://github.com/fabio-looker/node-lookml-parser) dependency that includes them to be linted with the project  (i.e. https://github.com/fabio-looker/node-lookml-parser/blob/9cf49326ece2bd983

[2022-01-10 15:55] marcelolx opened #57 "Introduce/Support Foreign Keys?"
We have multiple joins which use the PK field of a given view and the Foreign Key to generate the correct join but LAMS keep saying in those scenarios that no PKs dimensions used for a given view in a given join, an example is the following explore

[code]

For those two joins, it says that for example in the addresses join we didn't use a PK for the `organizations` view but we don't want to use t

[2022-01-10 17:08] fabio-looker commented on #57
Hi @marcelolx

Thanks for submitting the ticket! I would say this is an example of LAMS highlighting a valid error.

The issue is that you have declared the join as `one_to_one`, but since items.organization_id is a foreign key and not a primary key, the join should actually be `many_to_one`

If for some reason you want to force the join to be `one_to_one` without ensuring it's the case through th

[2022-01-10 17:11] marcelolx commented on #57
Oh my bad, thanks for pointing that out @fabio-looker! Feel free to close it.

[2022-01-10 18:05] marcelolx commented on #57
@fabio-looker Just one question, shouldn't this work for an `one_to_many` join as well?

[2022-01-10 18:08] fabio-looker commented on #55
Hi, thanks again for the question!

I've taken the opportunity to update the relevant docs page with the example of the syntax for more than one exemption

https://github.com/looker-open-source/look-at-me-sideways/commit/f09db4e45ed9db32773d0276191a3425925b46e4

[2022-01-10 18:08] #55 closed

[2022-01-10 18:15] fabio-looker commented on #56
Well, this is quite the interesting issue. I don't think I expected anyone to have their LookML project folder also be a Node project with a node_modules folder.

However, looking at your project I assume that this was an unintentional situation since I don't see any other javascript in your folder. It seems you probably omitted the `-g` (global install) flag when installing LAMS, so that's why yo

[2022-01-10 18:26] marcelolx commented on #56
We have it this way because it makes it much easier for people to run the linter locally without having to install it globally (just a `yarn install` & `yarn lint`).

Couldn't LAMS just ignore the `node_modules` folder from the scan? 🤔

[2022-01-10 19:32] fabio-looker commented on #56
Yes, I think so, and I can include that in the next release that I am working on (probably a week or two out from release) Until then, I think you _can_ exclude it explicitly in the `source` argument

[2022-01-10 19:33] fabio-looker commented on #56
Implementation note:

Glob docs: https://www.npmjs.com/package/glob

Argument to be passed through: `ignore`

[2022-01-10 19:40] fabio-looker commented on #57
@marcelolx

Whichever side of the join that you want to claim as having cardinality "one" (could be either side or both) should be enforced by applying an equality constraint to its primary key(s)

- one_to_one: needs to have primary key constraints applied to both tables
- one_to_many: needs to have a primary key constraint applied to the "left" / "existing" table
- many_to_one: needs to have a p

[2022-01-10 19:44] marcelolx commented on #57
Thanks @fabio-looker! Got it working here.

[2022-01-10 19:44] #57 closed

[2022-01-10 20:20] marcelolx commented on #56
Yes, we changed our scripts to only lint the folders from our project. Thanks for the quick responses!

[2022-01-28 17:02] alec-flatiron opened #58 "LAMS Erroring"
@fabio-looker - apologies for a somewhat direct message here, but I've spent some time digging here and can't seem to find what's going / don't have the relevant expertise. Our last successful lint was 8 days ago (1/20), our next run wasn't until 1/26, but that run and all subsequent have failed with an error that looks like the one below.

I didn't see any new recent lams commits, but based on th

[2022-01-28 17:27] fabio-looker commented on #58
Hi! Sorry for this - I have been making changes to the parser and LAMS recently, so I'm sorry that it seems I inadvertently broke something. I'm not sure why it might have broken though if you didn't pull the latest version of LAMS. What LAMS version are you running?

I can either try to publish a patch version that still uses the older release of the parser, or if you want you could try using the

[2022-01-28 17:43] alec-flatiron commented on #58
@fabio-looker - Sorry, to clarify, I believe both of the errors below are using LAMS v2.0.1. I ran a fresh `npm install -g @looker/look-at-me-sideways`  before messing around with the `lookml-parser` dependency (and I see 2.0.1 in package.json)

[2022-01-28 17:51] fabio-looker commented on #58
Thanks for clarifying! The stack trace in your error message looks pretty specific, so I'll review today to see if I can find the error quickly.

[2022-01-31 06:54] Priyankavl opened #59 "Ignore particular folders in Looker Project from LAMS rules"
Hi @fabio-looker ,

Is there a way while implementing LAMS, we can exclude a particular folder from Looker project that won’t be checked for LAMS rules.

[2022-01-31 13:50] mdp1125 commented on #59
+1 on this too, would be great to specify folders to apply it to, especially helpful for migrating legacy code to new projects and that sort of thing

[2022-01-31 17:39] fabio-looker commented on #59
There is a recent FR for this that I've been meaning to add: https://github.com/looker-open-source/look-at-me-sideways/issues/56

I will be doing some work on LAMS this week and I'll see if I can include this as well

[2022-01-31 21:33] alec-flatiron commented on #58
@fabio-looker If you get a chance to look at this this week let me know! Seems like older versions may be fine so I can pin to that, but not sure if that's necessary

[2022-02-01 17:29] fabio-looker commented on #58
@alec-flatiron I took a quick look and where the issue is in LAMS, I'm actually surprised it was working previously. I will have to go into the parser to fix this... although I am aiming for this week, I think pinning to v1 is not a bad idea in general until this case is tested, fixed, and working for you

[2022-02-04 09:13] vpipkt commented on #58
Same issue here. Our builds started breaking right when 2.0.0 was released to npm. In our github actions we are now using:

` run: npx @looker/look-at-me-sideways@1.6.1 ...`

[2022-02-08 01:01] abuckenheimer opened #60 "Cannot read properties of undefined (reading 'url')"
[code]
Running into an issue when lams tries to parse a dimensions link property. Specifically
[code]
  If I comment this out lams runs fine.

[2022-02-08 01:22] fabio-looker commented on #60
Hi @abuckenheimer - Unfortunately there was a change in how the lookml parser handles unnamed objects like `link` that was not caught by any existing test. This was already reported in https://github.com/looker-open-source/look-at-me-sideways/issues/58 and I am hoping to address it shortly. In the meantime, I am recommending that affected projects peg their lams dependency to v1. I'll close this a

[2022-02-08 01:22] #60 closed

[2022-02-10 14:41] emilyhawkins-drizly opened #61 "Parsing error"
hi @fabio-looker -

we're getting this parsing error
[code]

and i can't tell where it's coming from.

im not seeing any errors on the CLI output itself..
[code]
<img width="818" alt="Screen Shot 2022-02-10 at 9 41 28 AM" src="https://user-images.githubusercontent.com/50426908/153430633-10546082-ac31-4fd3-b9d0-04e691d27a10.png">

any thoughts on what could be going wrong here?

[2022-02-10 21:25] fabio-looker commented on #61
Hi @emilyhawkins-drizly ! This is probably closely related to https://github.com/looker-open-source/look-at-me-sideways/issues/58 , but seems a bit different

In the near term, pinning your LAMS to v1 should hopefully hold you over.

Would you also be able to send an erroring LookML file to me ( fabble@google.com ) so I can make a reduced test case from it?

[2022-02-10 21:50] hgitta opened #62 "P1: Parsing Error"
![image](https://user-images.githubusercontent.com/9141252/153502116-49d20a7a-f799-48a8-8687-6daef1c6736b.png)

We have upgraded our looker instance to 22.0.18 and I am getting  `P1: Parsing error: Expected "#", "\"", [ \t\n\r], or [\-+_a-zA-Z0-9.] but "]" found  `in the files that we didn't change in months.

[2022-02-10 22:00] emilyhawkins-drizly commented on #61
Thanks @fabio-looker, will do!

[2022-02-11 07:15] fabio-looker commented on #62
Hi @hgitta - I believe this is more likely due to a recent release of LAMS than of Looker. I am currently looking into the issue, but in the meantime, can you pin your LAMS version to v1 rather than `latest` (v2) and let me know if this resolves your issue?

[2022-02-11 16:02] ptsullivan opened #63 "K1: Primary Key regex does not allow pk_{name}"
The regex matches `1pk_id` or `pk1_id`, but not `pk_id` whereas the style guide says "n ... may be omitted if it is 1, and key_name is any descriptive name."

https://github.com/looker-open-source/look-at-me-sideways/blob/f09db4e45ed9db32773d0276191a3425925b46e4/rules/k1-2-3-4.js#L25

I suggest using `^([0-9]+pk|pk[0-9]+|pk)_([a-z0-9A-Z_]+)$`

[2022-02-11 17:56] fabio-looker commented on #62
@hgitta  Also, if you would be able to forward me a sample lookml file that has this issue, I could review it specifically in your case. If you're able to share it, you can email it to me at fabble@google.com

[2022-02-11 22:18] hgitta commented on #62
Thanks for the response ; I apologies for delay in response, emailed you a copy of sample file .

[2022-02-14 19:33] fabio-looker commented on #58
v2.0.2 published to NPM should resolve this bug, but since v2 does include changes to the default output settings, I still recommend people pin their configurations to v1 until they are ready to explicitly update to v2. I am working on the release notes for that still.

[2022-02-14 21:39] alec-flatiron commented on #58
@fabio-looker Getting some fresh errors with 2.0.2 but these are more clear. The rest of the errors look like valid errors according to the rules, but some look like included test cases? Also, will a valid run still spit out "BUILD PASSED"?

`❌       P0..... r/test-projects/007-lookml-maps/facts.view.lkml Parsing error: Object.fromEntries is not a function
❌       P1..... rnal_use/adjustment_pdt_r

[2022-02-15 22:30] fabio-looker commented on #58
Hi @alec-flatiron - thanks for passing this info along. This separate error is already reported in issue #61. I'll be fixing that one next/shortly. (My apologies again that these were not caught by our test suite). I'm leaving this ticket open just in case until all the errors are confirmed resolved.

[2022-02-22 20:21] fabio-looker commented on #58
Thanks to everyone for bearing with me.

- Both the runtime error and reported parsing issues should be fixed in [v2.0.3](https://www.npmjs.com/package/@looker/look-at-me-sideways/v/2.0.3)
- **The default output format is different from v1, so even with these bugfixes v2 is not a drop-in replacement for v1**
- Docs have been updated with [an article about the contents of the v2 release](https://lo

[2022-02-22 20:21] #58 closed

[2022-02-22 20:21] fabio-looker commented on #61
Thanks for bearing with me.

- Both the runtime error and reported parsing issues should be fixed in [v2.0.3](https://www.npmjs.com/package/@looker/look-at-me-sideways/v/2.0.3)
- **The default output format is different from v1, so even with these bugfixes v2 is not a drop-in replacement for v1**
- Docs have been updated with [an article about the contents of the v2 release](https://looker-open-so

[2022-02-22 20:21] #61 closed

[2022-02-22 20:22] fabio-looker commented on #62
Thanks for bearing with me.

- Both the runtime error and reported parsing issues should be fixed in [v2.0.3](https://www.npmjs.com/package/@looker/look-at-me-sideways/v/2.0.3)
- **The default output format is different from v1, so even with these bugfixes v2 is not a drop-in replacement for v1**
- Docs have been updated with [an article about the contents of the v2 release](https://looker-open-so

[2022-02-22 20:22] #62 closed

[2022-02-22 20:28] fabio-looker commented on #41
Hi @romitjain

You may want to review the v2 release. It includes a nicer-formatted output  mode and the ability to pass in manifest arguments via a command-line argument. It is not exactly a separate path, but in researching a similar use case, I think you can just pass in the glob argument such that it sources your manifest file from a path outside your current project.

https://looker-open-sour

[2022-02-22 20:28] #41 closed

[2022-02-22 21:09] hgitta commented on #62
@fabio-looker  Thanks for update ,  we will update our LAMS version.

[2022-02-23 17:39] simonMeero opened #67 "`primary_key` field seems to be ignored. Leads to inconsistencies in errors K1-2"
Hello, I came across some unexpected behavior while running LAMS on my code.
I traced it back to what I _think_ are some issues in the code, but I'm not familiar with js (or with LookML for that matter), so I'm not 100% sure.

See the the `test.lkml` below;
[code]

Following the definitions of K1 and K2 as per `docs/rules.html`

- :heavy_check_mark:Running LAMS on this raises a `K1... No Primary K

[2022-02-24 07:31] Priyankavl commented on #59
Hey @fabio-looker, any update on this?

[2022-02-24 09:46] simonMeero commented on #67
Hello, thank you for your answer.
I understand that a `primary_key` rule change would be a larger change more suited for a new version. Unfortunately, I'll only be involved in my LookML project for a short time, so I won't have the bandwidth (or skills) to be part of it.

However, I might have time to address issue 63, with tests, before the end of the week, I'll have to check that with the team.

[2022-02-24 15:48] simonMeero commented on #67
I opened the PR above, I just need to make sure it's okay for me to accept the CLA.

[2022-02-24 20:54] fabio-looker commented on #59
The recent work I did ended up requiring more bug fixes on my part than I had planned for (you can share in my agony by looking at the recently filed issues 😂)

Anyway, now that those are taken care of, I will hopefully be able to work on this FR soon - but it definitely has not fallen off my radar and I still plan to work on it, even though a few other things came first

[2022-02-25 14:25] Priyankavl commented on #59
Cool. Thanks for the update :)

[2022-02-28 10:21] masutaka opened #69 "How to exempt the `T2` rule?"
Thanks for releasing v2! I am trying to introduce LAMS in CI.

First, I tried to exempt all the current errors, but I just couldn't exempt the `T2` rule.

## Workaround?

According to the source code, I need to exempt all T2~T10. When I exempted all of them, I was able to exempt the error as expected. Is this the intended behavior?

https://github.com/looker-open-source/look-at-me-sideways/blob/94

[2022-03-05 01:48] fabio-looker commented on #69
Hi @masutaka - thanks for the error report, and sorry for just now getting to reviewing it.

I think the problem is just that I copied the "boilerplate" of the rule from a simpler single-rule file, and in this simpler case the whole file returns early when there is a global exemption (for speed and efficiency)... so the exempt checking function on line 45 doesn't consider to check the global exemp

[2022-03-07 20:16] fabio-looker commented on #69
Note to self: I should also review rules K1-4 and rule F3 for a similar issue

[2022-03-16 20:22] fabio-looker opened #70 "Model name restrictions too restrictive. Also, error message serialized as `[Object object]`"
Intended error message: `Unsupported model name: <model-name>. Model names must be alphanumeric or underscores only`

Repro with an unsupported model name

[2022-03-16 20:41] acepeda2019 commented on #69
@fabio-looker Love the linter! I'm in the process of adding this to our projects at my company, and I'm running into the same issue for K1-4. As a workaround, we are adding in placeholders with `pk1` in the name but would prefer to write the exemption.

[code]

[2022-03-18 20:16] mdp1125 commented on #46
hey @fabio-looker, just ran into this issue ourselves and found this thread. While adding exemptions to each field would technically work, it kind of defeats the purpose of reducing code volume through reusability with Looker's view extensions because you have to rewrite it each time (as @arthurbellis pointed out).

However, we were thinking - rather than repeating the same rule exemption for each

[2022-03-18 20:27] fabio-looker commented on #46
Hi @mdp1125 - thanks for the feedback!

Some good news here is that I recently did some long overdue refactoring in the node-lookml-parser project which should unblock the ability to add optional "transformation" steps, and therefore allow users of the parser to opt in/out of various add-ons, such as resolving extensions/refinements.

All that is to say that the parser is currently unblocked for s

[2022-03-19 02:05] fabio-looker opened #71 "Design question:"
Currently, the model assembly process is rather simple, and it doesn't clean up or reorganize any file-specific metadata, but rather merges it all:
![image](https://user-images.githubusercontent.com/23034640/159102557-e6a5d882-8fcc-4fa8-9700-f104ea354af6.png)

Need to decide how this should be handled, particularly ahead of / along with implementing refinements/extensions

[2022-03-22 09:13] Priyankavl opened #72 "Custom rule to have description mandatory for all explores"
Hi @fabio-looker ,
Currently I have put an exception for rule [F4.]Non-hidden fields should have descriptions. in the manifest file.
I would like to implement a rule to make it mandatory to include description for all explores in every model.
Can I declare this custom rule in manifest file? If yes, would you please help me with the syntax?
If no, then can it be done using javascript ? Also, please

[2022-03-22 10:26] Priyankavl commented on #72
I tried the below syntax, but I guess am missing something

# rule: explore_description {
#  description: "Explores must use description"
#  match: "$.model.*.explore.*"
#  expr_rule: ( === ::match:description true ) ;;
# }

[2022-03-22 18:04] fabio-looker commented on #72
Hi @Priyankavl  - Your attempt is pretty close. Liyad uses Javascript's type system as its foundation. Since LookML descriptions are strings, instead of comparing to `true`, I would use  `expr_rule: ( !== ::match:description undefined ) ;;`

I'll mark the ticket as resolved, but if the suggestion doesn't work for you, please let me know!

(Also, PS, I have a prototype custom rule sandbox coming so

[2022-03-22 18:04] #72 closed

[2022-03-24 06:01] fabio-looker commented on #59
Implemented in commit ced9a1af08163a9014f05f3cca3eddaf1f4e8294 and will be included in the next release

[2022-03-24 06:01] fabio-looker commented on #56
Implemented in commit ced9a1af08163a9014f05f3cca3eddaf1f4e8294 and will be included in the next release

[2022-03-24 06:10] Priyankavl commented on #59
Thanks for the update, Looking forward to it :)

[2022-03-24 13:04] marcelolx commented on #56
Thank you!

[2022-03-24 13:04] #56 closed

[2022-03-25 21:33] fabio-looker opened #77 "File_path missing for messages..location. Good opportunity to switch file_output from array to by-filename"
![image](https://user-images.githubusercontent.com/23034640/160203480-a9977fe2-b495-4fec-b22d-3a4d1d7f94d2.png)

[2022-03-28 19:29] #69 closed

[2022-03-28 19:37] fabio-looker opened #79 "Custom rules: convenient way to handle undefined properties"
Often, things that we expect to be defined in the LookML may not be defined, and this makes it cumbersome to write custom rules around those possible undefined values. There should be a convenient way to handle this.

Possibility 1: Just add (or document) a convenient coalescing function into Liyad

Possibility 2: Resolve implicit LookML values, as an opt-in parser transformation (or as some sort

[2022-03-28 19:41] fabio-looker commented on #2
This is implemented already

[2022-03-28 19:41] #2 closed

[2022-03-28 19:42] fabio-looker commented on #16
Wontfix for now as the md format is less of a focus as of v2

[2022-03-28 19:42] #16 closed

[2022-03-31 16:05] fabio-looker commented on #70
Model name issue resolved in https://github.com/looker-open-source/look-at-me-sideways/pull/73 and published to NPM in v2.1.0

[2022-03-31 16:05] #70 closed

[2022-03-31 16:10] fabio-looker commented on #67
@simonMeero Hey, I never saw your question in your previous comment (maybe due to the edit & me having read it before the edit? not sure), but in case it still helps...

Yes... not for the LAMS linter rules, but for the purposes of Looker's own validation. Looker uses `primary_key` information to correctly generate distinct sums for "symmetric aggregates" (i.e. distinct sum when trying to sum from

[2022-03-31 16:12] fabio-looker commented on #59
This is added in https://github.com/looker-open-source/look-at-me-sideways/pull/74 which is published to NPM under v2.1.0

To exclude a folder pass something like `--ignore=folder_name/**`

[2022-03-31 16:14] fabio-looker commented on #56
This is now published to NPM under v2.1.0

To exclude a folder pass something like --ignore=folder_name/**

[2022-03-31 19:11] fabio-looker commented on #69
This is now published to NPM as version 2.1.0

Also, in what should be a major quality-of-life improvement for everyone, exempting rule T2 is now effectively exempting all of T2-T10, since T2 is just the umbrella rule that the subsequent rules provide more specifics on

[2022-04-01 13:47] masutaka commented on #69
Thanks to you, I reduced the global rules in manifest.lkml to local rules for each .lkml file. I will reduce more exemptions in the future.

[2022-04-11 21:08] alec-flatiron opened #84 "K1 Exemption Question"
Hey @fabio-looker, thanks for the previous fixes. I've finally gotten back to implementing v2, and I'm running into one thing I *think* is an issue but need to verify with you. I have several views that are extended and as a result have no PKs. This was erroring with rule K1. We put a rule_exemptions block for K1 in the view files. In the past I think this removed the error.

Now, with v2.1.1, it

[2022-04-12 02:42] fabio-looker commented on #84
Hey @alec-flatiron !

Generally speaking, the intention behind the v2 release (and one of the breaking changes) is that exemptions should be entirely ignored and not reported at all anymore.

Of course, the implementation may vary from my intention, so I'll take a look at this during the week to see what I find

[2022-04-14 15:21] alec-flatiron commented on #84
Gotcha, yeah it seems like in K1 it's flagging everything as an error unless there's a globalExemption, I don't see any handling of local view exemptions (but it catches them and logs them in the message)

[2022-04-19 15:19] fabio-looker opened #85 "Docs: Clarify version assumptions for deployment examples"

[2022-04-22 14:36] alec-flatiron commented on #84
@fabio-looker Have a chance to look at this yet? Hoping to make the update to use a v2 version

[2022-04-22 16:14] fabio-looker commented on #84
Hi @alec-flatiron - yes, sorry about the delay. I do plan to fix this next, just got started and it seems there's a lot of outdated tests to sift through and re-align. Will be working on it today actually, but I may need to continue on it into next week

[2022-04-22 16:16] alec-flatiron commented on #84
Awesome no worries, thanks for the update!

[2022-04-25 10:53] Leogiciel opened #88 "Rules exemptions don't apply"
Sorry if I missed something, but here are my manifest file and the output I have.
![image](https://user-images.githubusercontent.com/1555868/165075326-2c8acac5-5210-44e1-8682-14b98a73b017.png)
It really looks like the file is read but ignored.
Any clue about this ?
Thanks and regards :)

[2022-04-25 15:42] fabio-looker commented on #88
Hi @Leogiciel

This is the first time I believe have seen this particular issue. As you can see from the second line in the table, the parser has not found any properties within your manifest file.

I think this is most likely due to an issue with the "[conditional comment](https://github.com/fabio-looker/node-lookml-parser/blob/master/lib/parse/index.js#L19)" feature not working, since there is n

[2022-04-25 18:01] Leogiciel commented on #88
Hi @fabio-looker , and thank you for your help.
It was definitely the CRLF encoding. Manifest works fine in LF.

Nice catch !

You can close this issue, if you don't want to follow this regex, and thanks again :)

[2022-04-26 09:59] Priyankavl commented on #59
Hi @fabio-looker , Should I add that as a comment in manifest file? or in the yml file

[2022-04-27 08:44] Priyankavl commented on #59
@fabio-looker, that works. Thank You!!

[2022-04-27 16:43] mathcoder3141 opened #89 "Update deployment examples from v1 to v2 (or explicitly note those that remain for v1)"
I'm trying to set up LAMS as a Github Action but when doing so I'm running into issues on the Commit Changes step. It's mentioning nothing to commit and then exits with an error. That shouldn't happen on initial setup, right?

I'm following the instructions spelled out [here](https://looker-open-source.github.io/look-at-me-sideways/github-action) but getting

<img width="1046" alt="image" src="htt

[2022-04-27 16:56] fabio-looker commented on #89
Hi @mathcoder3141 - sorry, this example is for v1 and the doc needs to be updated for v2. Good news is the fix is easy. Due to a simpler output convention you can simple delete everything starting at ` || echo "ERROR=true"` (including that)

[2022-04-27 16:58] mathcoder3141 commented on #89
Ah thanks @fabio-looker! Glad to hear the fix is easy 🎉

[2022-04-27 17:03] mathcoder3141 commented on #89
Still getting an error. Presumably because the output wouldn't be stored anywhere thus nothing to commit in the commit step?

[2022-04-27 17:08] fabio-looker commented on #89
@mathcoder3141 An error is perhaps an expected result of running the linter. (That is how linting failures are communicated to the CI.)

With v2, there should no longer be a file output nor a need to commit anything back. So, make sure to delete _everything_ after the indicated point, including subsequent lines

[2022-04-27 17:17] mathcoder3141 commented on #89
Got it. My apologies. Thought you meant deleting on just that line

[2022-04-27 17:20] fabio-looker commented on #89
No worries! If you do prefer to commit a file back to git, that is still possible with the `--output=markdown` flag on the LAMS command, but I find people generally prefer the simpler in-CI approach.

[2022-05-03 15:57] fabio-looker opened #91 "Update Gitlab CI example from v1 to v2"
I tried to just eyeball the update, but am not familiar enough with Gitlab CI.

@PieterjanCriel if you are still using LAMS, perhaps you could take a look? The update is quite simple I think (probably just deleting some no longer needed lines)

Similar update of Github Actions example from v1 to v2:
https://github.com/looker-open-source/look-at-me-sideways/pull/90/files#diff-5565610d10fa90d1b0be11

[2022-05-09 20:24] fabio-looker commented on #89
Github actions example has been updated to v2, other examples have explicitly been flagged as v1, and [a dedicated ticket](https://github.com/looker-open-source/look-at-me-sideways/issues/91) has been created for community contribution for the Gitlab CI example that was originally community contributed.

[2022-05-09 20:24] #89 closed

[2022-05-09 20:25] fabio-looker commented on #85
https://github.com/looker-open-source/look-at-me-sideways/pull/90

[2022-05-09 20:25] #85 closed

[2022-05-20 10:28] shreyabnsl09 opened #92 ".gitlab-ci.yml running successfully but issues.md file is not created in gitlab repository"

[2022-05-20 15:47] fabio-looker commented on #92
Hi, with the release of v2, the default output mode is no longer via a file (since most CI environments by convention prefer to expose outputs from the command line to users)

Possible solutions include:
- using the command-line output from v2 as the primary method of feedback
- pinning your configuration to use LAMS v1
- passing the `output` parameter to v2 to get the markdown output

https://git

[2022-05-20 15:47] #92 closed

[2022-05-25 09:09] shreyabnsl09 opened #93 "Commit works smooth even if there are errors in issues.md"
I'm trying to integrate LAMS with Looker using Gitlab. Created 'Gitlab-ci.yml' file and pipeline is running. Can see 'issues.md' file in pipeline job artifacts.
My concern is even if I have errors in my issues.md file, 'commit changes' from Looker works smooth. Shouldn't the commit fail since there are errors in issues.md file?

Objective : Developer shouldn't be able to commit their changes if th

[2022-05-25 15:28] fabio-looker commented on #93
Hi @shreyabnsl09

It depends on which version of LAMS you are using, and how you have configured your CI process.

Note that between v1 and v2, the default output mode of LAMS changed, from the issues.md file to stdout/command-line output. However, the deployment example for Gitlab CI is still for v1, as I don't use Gitlab and depend on the community to help maintain that deployment example (see h

[2022-05-25 20:19] fabio-looker opened #94 "F1: Reserved names not respected when reference includes whitespace"
For example `{{my_dimension._value}}` is correctly exempted from F1, but `{{ my_dimension._value }}` with the trailing whitespace is not due to a failed comparison to a list of reserved names.

The capture groups in [this regex](https://github.com/looker-open-source/look-at-me-sideways/blob/master/rules/f1.js#L60) should not capture any surrounding whitespace for subsequent reserved name checks to

[2022-05-26 09:31] shreyabnsl09 commented on #93
@fabio-looker Thanks for your response.
This is my gitlab-ci.yml file. I am using docker image from docker hub.
<img width="663" alt="gitlab-ci" src="https://user-images.githubusercontent.com/103121421/170460570-166ea0a6-ee64-4fbe-be9f-eb14c3276642.PNG">

[2022-05-26 12:17] shreyabnsl09 commented on #93
@[PieterjanCriel](https://github.com/PieterjanCriel)
Any suggestions on this?

[2022-05-27 11:40] shreyabnsl09 commented on #93
@fabio-looker Any suggestions on this?
I tried with LAMS V2 as well. Still experiencing the same behavior.

[2022-05-27 15:32] fabio-looker commented on #93
From the contributed example, it's not clear to me whether its intended effect is to prevent some action entirely, or to merely provide the findings in an artifacts for a reviewer's use. Other than that possibly incorrect observation, I really don't know how Gitlab CI expects things to be configured.

Also, if the linter is running in CI (which is a separate machine from the developer), that kind

[2022-05-31 09:13] masutaka opened #95 "How create custom rule prohibiting wildcard includes?"
Hi @fabio-looker,

In our project[^1], wildcard `include` was reducing the performance of LookML validation.

Before:

[code]

[^1]: The number of `.lkml` files is `440`. The total number of lines is `23,217`.

When I stopped wildcard includes, the time was improved from 20 seconds to 11 seconds. So I want to use a custom rule to prohibit wildcard inclusion.
:bulb: Related article: [My LookML Vali

[2022-05-31 15:35] fabio-looker commented on #95
Hi @masutaka

Thanks for the question, and this sounds like a great custom rule to implement for performance and maintainability.

Some background that may or may not be interesting: The LookML parser can output the collection of files in a few different ways, but the original method was as an array, and to avoid breaking changes, LAMS has kept using the array-based file representation. It is some

[2022-05-31 15:35] #95 closed

[2022-06-01 07:42] masutaka commented on #95
Hi @fabio-looker,

Thanks! It works well. :joy:

[code]

↓

[code]

[2022-06-15 21:07] notserp opened #96 "Custom Rule Syntax for Descriptions Entered"
Hi,

I am trying to input a custom dimension/measure rule based off of the presence of the hidden: yes, and description field not being filled out. However, for some reason its not working. Any ideas?
# rule: unhidden_fields_should_have_descriptions{
# description: "Unhidden fields should have descriptions."
# match: "$.model.*.view.*['dimension','measure'].*"
# expr_rule: ($all
#           (=== :

[2022-06-15 23:51] fabio-looker commented on #96
Hi @notserp!

Glad to hear you're using LAMS. First of all, if you haven't tried out the [custom rule sandbox](https://looker-open-source.github.io/look-at-me-sideways/tools/rule-sandbox/), I would definitely recommend it. It is a bit hidden, and I am hoping to make it more discoverable in the future.

As to your rule:

1. I have received some passing comments of users running into issues using a

[2022-06-16 18:21] notserp commented on #96
Thanks Fabio,

That is working better now

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: fabio-looker ***@***.***>
Sent: Wednesday, June 15, 2022 5:51:40 PM
To: looker-open-source/look-at-me-sideways ***@***.***>
Cc: notserp ***@***.***>; Mention ***@***.***>
Subject: Re: [looker-open-source/look-at-me-sideways] Custom Rule Syntax for Descriptions Entered (Issue

[2022-06-16 18:47] #96 closed

[2022-06-30 16:09] alec-flatiron commented on #84
Looks good @fabio-looker thank you!

[2022-06-30 20:27] fabio-looker commented on #84
Sorry for the terribly long turnaround time. This should be fixed now, with a bunch of tests now set up around both local and project-level exemptions for a bunch of the more complex built-in rules

[2022-06-30 20:27] fabio-looker commented on #94
Fixed in 2.1.3

[2022-06-30 20:27] #94 closed

[2022-06-30 20:28] fabio-looker commented on #63
Fixed in 2.1.3

[2022-06-30 20:28] #63 closed

[2022-07-14 20:47] fabio-looker opened #99 "README content: list & compare other linter solutions"

[2022-07-27 23:39] mathcoder3141 opened #101 "View rule exemption seems to be skipped over"
When running `lams` from the command line, I'm getting a K1 error thrown on `seat_status` but I have it declared as exempted. This is happening as well on our CI check. A snippet of the view file code is below:

[code]

I fiddled around with the view locally and applied the appropriate naming convention, hid the key, etc and that all worked so I suspect the exemption is being skipped over. Does th

[2022-07-28 08:23] fabio-looker commented on #101
Hi @mathcoder3141

Just from glancing at the above snippet, it seems like the exemption is being declared within the `derived_table` block, and not within the `view` block. Although there is normally only one derived_table block in a view, for generality exemptions are only inherited down, and do not affect ancestor blocks, so anything declared inside the derived_table would not exempt the view.

[2022-07-28 08:23] #101 closed

[2022-07-28 15:18] mathcoder3141 commented on #101
hey @fabio-looker, thank you for pointing that out. I fixed that and it did work.

Just as an FYI, the README also refers to a similar placement to what I had in the snipped.

https://github.com/looker-open-source/look-at-me-sideways#rule-exemptions

[2022-07-28 15:52] fabio-looker commented on #101
That is a "T" rule which is concerned with the `sql`, whereas `K` rules are about the dimensions... but the point stands that I could choose a better exemption example! Thanks!

[2022-07-28 15:55] fabio-looker opened #102 "README content: less misleading exemption example"
As suggested in https://github.com/looker-open-source/look-at-me-sideways/issues/101 , make [the README example](https://github.com/looker-open-source/look-at-me-sideways#rule-exemptions) for rule exemptions a view-level exemption, so as to dissuade people from applying exemptions at the derived_table level.

[2022-09-01 14:22] barak-loc opened #104 "issues.md file doesn't create at github actions"
Should I Add another argument to the LAMS call?

<img width="308" alt="image" src="https://user-images.githubusercontent.com/92298725/187937677-fb261c75-648f-431c-b4f7-b07ee68567ef.png">

[2022-09-01 22:10] fabio-looker commented on #104
Hi @barak-loc

If you're using LAMS v2, the markdown is no longer the default output mode. Instead, by default errors are output in a human readable to the command line, which you can view by just clicking the ">" expand icon in that screenshot.

(If you do want the old markdown behavior, you can use the `--output=...` argument, and include `markdown` as a value in that list. You may have to adapt

[2022-09-01 22:10] #104 closed

[2022-09-04 05:50] barak-loc commented on #104
works, thank you

[2022-09-08 17:31] ephraimsd opened #105 "Applying linter rules to views that are extends is too restrictive"
The conditions to exempt a view from Primary Key Dimension rules K1-K4 basically amount to: If a view is not an `extends` and does not have either `sql_table_name` or `derived_table`, then exempt it from rules K1-K4.

This means if `view_1` has a primary key defined, and `view_2` is defined as an `extends` of `view_1`, then `view_2` will be (incorrectly) flagged by the linter as not having a prima

[2022-09-08 17:59] fabio-looker commented on #105
Hi @ephraimsd

This is actually great timing to talk about this, as I am currently working on a feature to have the linter evaluate rules based on objects as refined/extended, rather than as written locally.

Hopefully, your concern will be resolved by that work. However, I want to make sure I understand it, since I am not sure I am following the concern.

The main reason why I am skipping over vi

[2022-09-08 18:50] ephraimsd commented on #105
Hi @fabio-looker , thank you for your quick response. From my reading of the code, it seems to me that `tenant_1_view` will actually not be skipped when checking the rules, since it will fail `!view.extends`.

For example, in our project we have `interaction_author_user`, which extends `user_dim`:
[code]

However, even though user_dim has a primary_key defined, we get the following linter error fo

[2022-09-08 20:04] fabio-looker commented on #105
You're right! I misread my own code here.

And you're also right that trying to enforce the rule against a view that has extends is of little value and often/usually creates unnecessary problems.

That said, let me put this issue on pause until next week when hopefully I will release the enhancement to allow the linter to work on extended/refined objects. I already have the [changes in the parser]

[2022-09-08 20:15] ephraimsd commented on #105
Thank you so much @fabio-looker !

[2022-10-04 13:02] Kabulan0lak opened #106 "PK regex is outdated in E2 rule"
The E2 rule's regex used to check whether a field is a PK seems outdated:
`const pkRegex = /^([0-9]+pk|pk[0-9]+)_([a-z0-9A-Z_]+)$/;`

This forces all fields in `sql_on` to have a number following or preceding `pk`. But as I understand, an update made possible to use `pk_xxx` directly when the number of fields used for the PK is exactly 1.

The correct regex should then probably be the same as for

[2022-10-04 16:37] fabio-looker commented on #106
Thank you! I should be able to release an update for this in a day or two

[2022-10-17 07:24] fabio-looker commented on #106
Fixed in v2.1.5

[2022-10-17 07:24] #106 closed

[2022-10-17 07:25] fabio-looker commented on #102
Fixed

[2022-10-17 07:25] #102 closed

[2022-10-17 07:25] fabio-looker commented on #99
Fixed

[2022-10-17 07:25] #99 closed

[2022-10-17 07:27] fabio-looker commented on #105
Sorry this took me so long to get to. v2.1.5 should make this condition much more permissive. Also, I am still looking to revamp handling of extends in v3 once I get to it...

[2022-10-17 07:27] #105 closed

[2022-10-17 07:28] fabio-looker commented on #93
Closing as duplicate of #91

[2022-10-17 07:28] #93 closed

[2022-10-21 15:19] ephraimsd commented on #105
Thank you @fabio-looker !

[2022-11-02 15:50] markus-zhang-unity opened #108 "How to write a custom rule that detects the existence of a primary key?"
Hi experts, judging from [this quote](https://github.com/looker-open-source/look-at-me-sideways/issues/67#issuecomment-1049161451), rule K1 is limited to dimensions that begins with `pk(n)_`. Here is what I'd like to achieve:

In our project we do not force developers to follow any rule for naming the primary key field. However we still want to detect whether a primary key field has been defined.

[2022-11-04 02:08] markus-zhang-unity opened #109 "Shows "No manifest.lkml file available" even the file exists in root directory"
Hi experts,

Strangely I keep getting this message during each run. It looks like `mnufest.lkml` is *only* found when I modified it a bit and merged into production, but then every following run simply ignores it.

I put the `manifest.lkml` file in the root dir of the folder:

[code]

The GitHub Action reads:
(copy-pasting might mess up indentation but I'm sure it's correct in my repo)
[code]

Any

[2022-11-04 03:48] markus-zhang-unity commented on #109
Some update:

I finally decided to remove the `--source` argument and it works afterwards. Just curious is it intended? What is the syntax of `--source` if say I just want to check A.lkml and B.lkml while still enable manifest.lkml being found?

[2022-11-11 14:07] mdp1125 opened #110 "Field Only Views Dont Work With Primary Keys?"
Hey @fabio-looker , I was hoping to get your thoughts on this..

We have an explore with a field-only view joined on to it to respect rule F1. It was working great. However now we are joining in a new view with a many_to_many relationship and when trying to use a field from the field-only view, Looker is asking for a primary_key in the field_only view...but that doesnt make sense given there is no

[2022-11-11 17:21] fabio-looker commented on #110
Hey @mdp1125 :wave:

Without seeing the explore as a whole, I would already be a little cautious any time a many_to_many relationship crops up. In most cases, these correlate with inefficient join patterns and Looker's solution of applying symmetric aggregates can force _some_ measures to still work correctly, but the performance will likely be poor, and some measures would not work correctly.

Th

[2022-11-11 17:40] mdp1125 commented on #110
hey @fabio-looker thanks so much for the quick reply! I looked in to the underlying data and I agree, it is a bad idea to put it in to Looker at this stage. I may try your suggestion regarding composite keys but I do believe we need to rethink some of the data model and push parts of it to aggregate tables upstream.

Thanks again, will close this out now.

[2022-11-11 17:40] #110 closed

[2022-11-11 18:10] nevengrgic opened #111 "In line exemption for custom rules"
I wrote the following rule to check for explores that are defined in view files, which we do not want to allow on our instance. When I try to do an exemption within one view file, the in line exemption is not recognized. I saw a similar issue with a custom rule (#50) was resolved,  but wanted to check if different custom rule configurations could still raise issues for in line exemption. Thanks!

[2022-11-11 21:13] fabio-looker commented on #111
Hi @nevengrgic :wave:

I vaguely recall intending to make rule ID's of the form [A-Z][0-9]* (i.e. one letter and a number) to be reserved for future LAMS use, so there may be an issue caused by that... but I will look into this and see what I find.

[2022-11-12 00:43] nevengrgic commented on #111
Hi @fabio-looker! Thanks for the quick response.

You are correct about the expected functionality. I also tried changing the name based on your first comment, but that didn't appear to change anything. Appreciate your help!